In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"D:\Business Analytics\Statastics for decision making\property.csv")
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [3]:
# Task 1 - perform t-Test
from scipy import stats

altona_df = df[df['Suburb'] == 'Altona']
altona_prices = altona_df['Price'].dropna()
t_stat, p_value = stats.ttest_1samp(altona_prices, 800000)

mean_price = altona_prices.mean()
t_stat, p_value, mean_price

(1.0277020770199676, 0.307483271305555, 834830.4054054054)

In [4]:
# Result for task - 1
#T-stat  = 1.0277020770199676
#p_value = 0.307483271305555
#mean_prop_price = 834830.4054054054

# With a p-value of 0.307, which is greater than the significance level of 0.05, we fail to reject the null hypothesis. Therefore, we do not have enough evidence to conclude that the mean property price in Altona is significantly different from $800,000

In [5]:
# Task 2  - Compare Property Prices in Summer and Winter Months for the Year 2016

# to reform task 2 we need to check data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [6]:
# Lets convert date column to date time formate

df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  datetime64[ns]
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(7)
memory usage: 2.2+ MB

In [7]:
# filter data for year 2016
df_2016 = df[df['Date'].dt.year == 2016]
df_2016

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,2016-05-07,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,2016-05-07,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7426,Gardenvale,7/32 Gardenia Rd,2,u,440000.0,S,Biggin,2016-06-18,9.8,3185.0,...,1.0,1.0,0.0,75.0,NaN,Glen Eira,-37.8971,145.0093,Southern Metropolitan,534.0
7427,Gardenvale,1/18 Magnolia Rd,2,u,595000.0,S,Biggin,2016-11-19,9.8,3185.0,...,1.0,1.0,0.0,75.0,1960.0,Glen Eira,-37.8994,145.0101,Southern Metropolitan,534.0
7428,Gardenvale,25 Magnolia Rd,4,h,2200000.0,S,hockingstuart,2016-08-28,9.8,3185.0,...,3.0,3.0,474.0,230.0,2010.0,Glen Eira,-37.8988,145.0098,Southern Metropolitan,534.0
7429,Princes Hill,76 Arnold St,3,h,1700000.0,VB,Collins,2016-11-27,3.7,3054.0,...,1.0,2.0,341.0,NaN,NaN,Yarra,-37.7832,144.9655,Northern Metropolitan,1008.0
7430,Princes Hill,77 McIlwraith St,4,h,1908000.0,S,Nelson,2016-05-28,3.7,3054.0,...,2.0,1.0,256.0,156.0,1890.0,Yarra,-37.7833,144.9681,Northern Metropolitan,1008.0

In [8]:
# Define months for summer & winter season
months_summer = [4,5,6,7,8,9]
months_winter = [10,11,12,1,2,3]

#filtering data with respective months of season
summer_prices = df_2016[df_2016['Date'].dt.month.isin(months_summer)]['Price'].dropna()
winter_prices = df_2016[df_2016['Date'].dt.month.isin(months_winter)]['Price'].dropna()

# Lets perform 2 sample test

t_stat, p_value = stats.ttest_ind(summer_prices, winter_prices)

t_stat, p_value, summer_prices.mean(), winter_prices.mean(), len(summer_prices), len(winter_prices)

(-4.043386317851058,
 5.3309767667631686e-05,
 1048054.7286917741,
 1116647.5917391304,
 4036,
 2300)

In [9]:
# t-stat: -4.043
# p-value: 5.3309767667631686e-05
# mean property price in summer months: $1048054.7286917741
# mean property price in winter months: $1116647.5917391304
# number of summer month samples: 4036
# number of winter month samples: 2300

# With a p-value of 5.3309767667631686e-05, which is much less than the significance level of 0.05, we reject the null hypothesis. Therefore, we conclude that there is a significant difference in property prices between summer and winter months in 2016, with winter prices being higher on average.

In [19]:
# Task 3 - Probability that out of 10 properties sold in Abbotsford, 3 will not have car parking

# Filter data for abbotsford 
abbotsford_df = df[df['Suburb'] == 'Abbotsford']
car_parking_counts = abbotsford_df['Car'].value_counts()
no_car_parking_count = car_parking_counts.get(0, 0)
total_properties = len(abbotsford_df)
total_properties

56

In [23]:
# Calculation of probability of a property not having car parking
p_no_car_parking = no_car_parking_count / total_properties

In [22]:
n = 10  # Number of properties sold
k = 3  # Number of properties without car parking
from scipy.stats import binom
prob = binom.pmf(k, n, p_no_car_parking)
prob = round(prob, 3)
print(f"The probability is: {prob}")

The probability is: 0.26

In [33]:
# Task 4 - Probability finding a property with 3 rooms
abbotsford_df = df[df['Suburb'] == 'Abbotsford']
total_properties = len(abbotsford_df)
properties_with_3_rooms = (abbotsford_df['Rooms']== 3).sum()

probability = properties_with_3_rooms / total_properties
probability_rounded = round(probability, 3)

print(f"The probability is {probability_rounded}")

The probability is 0.357

In [37]:
# Task 4 - Probability finding a property with 2 bathrooms
abbotsford_df = df[df['Suburb'] == 'Abbotsford']
total_properties = len(abbotsford_df)

properties_with_2_bathrooms = (abbotsford_df['Bathroom']== 2).sum()
probability = properties_with_2_bathrooms / total_properties
probability_rounded = round(probability, 3)

print(f"The probability is {probability_rounded}")

The probability is 0.339